:root {
    --bg-white: #ffffff;
    --bg-dark-gray: #3e3e3e;
    --bg-dark-gray-hover: #646464;
    --bg-scrollbar: #d7d7d7;
    --bg-light-gray: #f2f2f2;
    --bg-light-white: #f9f9f9;
    --bg-darker-gray: #e3e3e3;
    --bg-row-light-gray: #ececec;
    --bg-row-dark-gray: #dfdfdf;
    --bg-button-gray: #c2c2c2;
    --bg-input: #cee6f4;
    --fnt-dark-gray: #3e3e3e;
    --fnt-blue: #76bae5;
    --fnt-dark-blue: #2d5372;
    --fnt-light-blue: #76bae7;
    --fnt-light-blue-hover: #82c5ff;
}
body {
    font-family: 'Montserrat', sans-serif;
}
img {
    max-width: 100%;
    display: block;
}
.bg-darker-gray {
    background: var(--bg-darker-gray);
}
.resume-table ::-webkit-scrollbar {
    height: 13px;
    width: 15px;
}
.resume-table ::-webkit-scrollbar-track {
    background-color: var(--bg-scrollbar);
}
.resume-table ::-webkit-scrollbar-thumb {
    background-color: var(--bg-light-white);
    border: 3px solid var(--bg-scrollbar);
    height: 24px;
}
.resume-table ::-webkit-scrollbar-button:single-button {
    background-color: var(--bg-scrollbar);
    display: block;
    background-size: 10px;
    background-repeat: no-repeat;
}
.resume-table ::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 12px;
    width: 16px;
    background-position: center 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='50,00 0,50 100,50'/></svg>");
}
.resume-table ::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 12px;
    width: 16px;
    background-position: center 2px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 100,0 50,50'/></svg>");
}
.grid {
    display: grid;
}
.button {
    padding: 6px 43px;
    border-radius: 25px;
    border: 0;
    font-size: 0.8rem;
}
.button a {
    text-decoration: none;
}
.button.button--blue {
    background-color: var(--fnt-light-blue);
}
.button.button--blue a {
    color: #fff;
}
.button.button--blue:hover {
    background-color: var(--fnt-light-blue-hover);
}
.button.button--dark {
    background-color: var(--bg-dark-gray);
}
.button.button--dark a {
    color: #fff;
}
.button.button--dark:hover {
    background-color: var(--bg-dark-gray-hover);
}
.button.button-gray {
    background: var(--bg-button-gray);
    color: var(--fnt-dark-gray);
    font-weight: bold;
}
.button.button-gray a {
    color: var(--fnt-dark-gray);
}
.button.button-gray:hover {
    background: var(--bg-light-gray);
}
.button.button--blue-dark {
    background-color: var(--fnt-dark-blue);
    color: var(--bg-white);
}
.button.button--small-font {
    font-size: 0.7rem !important;
}
.resume-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.resume-content .button {
    font-style: italic;
}
.resume-content .resume-content__buttons {
    display: flex;
    gap: 3rem;
    margin-bottom: 1rem;
    justify-content: center;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
.ventajas-secundarias {
    padding-block: 2rem;
}
.ventajas-secundarias .resume-content {
    display: block;
}
.ventajas-secundarias .tabla-ventajas {
    background-color: var(--bg-light-white);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    max-height: 500px;
    display: block;
    overflow-y: auto;
}
.ventajas-secundarias .tabla-ventajas thead th {
    position: sticky;
    top: 0;
}
.ventajas-secundarias .tabla-ventajas thead th:nth-child(1n) {
    background-color: var(--bg-light-white);
}
.ventajas-secundarias .tabla-ventajas thead th:first-child {
    width: 80%;
}
.ventajas-secundarias .tabla-ventajas thead .head-image {
    display: flex;
    justify-content: center;
    padding-inline: 1rem;
}
.ventajas-secundarias .tabla-ventajas .img-alpha {
    max-width: 40px;
}
.ventajas-secundarias .tabla-ventajas .img-otros {
    max-width: 30px;
}
.ventajas-secundarias .tabla-ventajas .imagen-check {
    max-width: 20px;
}
.ventajas-secundarias .tabla-ventajas .header-text {
    font-size: 0.9rem;
}
.ventajas-secundarias .tabla-ventajas .table-text {
    font-size: 0.7rem;
}
.ventajas-secundarias .tabla-ventajas thead > tr > th:first-of-type,
.ventajas-secundarias .tabla-ventajas tbody > tr > td:first-of-type {
    padding-left: 40px;
}
.ventajas-secundarias .tabla-ventajas tbody > tr:nth-child(2n + 1),
.ventajas-secundarias .tabla-ventajas thead > tr > th:nth-child(2) {
    background-color: var(--bg-row-light-gray);
}
.ventajas-secundarias .tabla-ventajas tbody > tr > td:nth-child(2) {
    background-color: var(--bg-row-dark-gray);
}
.ventajas-secundarias .tabla-ventajas td,
.ventajas-secundarias .tabla-ventajas th {
    padding-block: 15px;
}
.ventajas-secundarias .resume-content .resume-content__buttons {
    justify-content: flex-start;
}
.ventajas-secundarias .resume-content__header {
    color: var(--fnt-dark-gray);
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
}
.ventajas-secundarias .resume-content__header .resumen-content__section-name {
    color: var(--fnt-blue);
    font-size: 2.2rem;
    line-height: 3rem;
    font-weight: bold;
    letter-spacing: 1px;
}
.ventajas-secundarias .resume-content__image {
    max-width: 110px;
    margin-block: 2rem;
}
.navbar-navigation-icon {
    max-width: 35px;
    max-height: 25px;
    padding: 3px;
    cursor: pointer;
}
.sidenav {
    height: calc(100vh - 40px);
    width: 330px;
    z-index: 11000;
    left: -450px;
    top: 40px;
    position: fixed;
    background-color: var(--bg-dark-gray);
    box-shadow: 15px 0 20px rgba(0, 0, 0, 0.65);
    transition: all 0.4s ease-in-out;
    padding: 2rem;
}
.sidenav.show {
    left: 0;
}
.sidenav .sidenav-container .nav-link {
    color: var(--bg-white);
    font-size: 0.8rem;
}
.sidenav .sidenav__list {
    display: flex;
    flex-direction: column;
}
.sidenav .sidenav__list li {
    height: 60px;
    border-bottom: rgba(255, 255, 255, 0.2) solid 1px;
    display: flex;
    align-items: center;
}
.ventajas-principales {
    padding-top: 7.5rem;
    margin-bottom: 3rem;
}
.ventajas-principales .resume-content__header {
    color: var(--fnt-dark-gray);
    font-size: 2rem;
    font-weight: bold;
}
.ventajas-principales .resume-content__header .resume-content__header__ventajas {
    margin-bottom: 0.7rem;
}
.ventajas-principales .resume-content__header .otros-div {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
.ventajas-principales .resume-content__header .resume-content__header__ventajas img {
    max-width: 100px;
}
.ventajas-principales .resume-content__header .resume-content__header__img {
    display: inline-block;
}
.ventajas-principales .listado-ventajas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    height: 100%;
}
.ventajas-principales .listado-ventajas__ventaja {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--bg-light-gray);
    border-radius: 11px;
    padding-inline: 2rem;
    color: var(--fnt-dark-gray);
}
.ventajas-principales .listado-ventajas__ventaja .listado-ventajas__texto {
    font-size: 0.8rem;
    padding-block: 13px;
}
.ventajas-principales .listado-ventajas__imagen {
    max-width: 40px;
}
.demostracion {
    background-color: var(--fnt-blue);
    padding-block: 7rem;
    height: 100vh;
}
.demostracion .demostracion-title {
    font-weight: bold;
    color: var(--fnt-dark-blue);
    margin-bottom: 1.5rem;
}
.demostracion .demostracion-footer {
    font-size: 0.6rem;
}
.navbar {
    background-color: var(--bg-white);
    justify-content: flex-end;
    transition: all 0.1s ease-in;
}
.navbar .container {
    display: none;
}
.navbar .nav-link {
    flex-grow: 1;
    text-align: right;
    padding-inline: 0;
}
.navbar .nav-link.ventajas {
    flex-grow: 2;
    text-align: left;
}
.navbar .container-fluid {
    padding-inline: 0;
}
.navbar .navbar-nav {
    width: 100%;
    justify-content: space-between;
}
.navbar .nav-link {
    color: var(--fnt-dark-gray);
}
.navbar .nav-link:hover {
    font-weight: bold;
}
.form-label {
    margin-bottom: 3px;
    color: var(--bg-white);
    font-size: 0.9rem;
}
.form-control,
.form-select,
.form-floating > label {
    border-radius: 20px;
    font-size: 0.7rem;
    color: var(--bg-dark-gray-hover);
    background-color: var(--bg-input);
    border: none;
    padding-inline: 1.5rem;
}
.form-control:focus,
.form-select:focus,
.form-floating > label:focus {
    border: none;
    outline: 0;
    box-shadow: none;
    background-color: var(--bg-input);
}
textarea.form-control {
    border-radius: 15px;
    resize: none;
}
.form-text {
    font-size: 0.6rem;
    color: var(--fnt-dark-blue);
}
.navigation .nav-link.active {
    color: var(--fnt-light-blue);
    font-weight: 600;
}
@media screen and (max-width: 992px) {
    .navbar {
        background-color: var(--bg-dark-gray);
    }
    .navbar-nav {
        display: none;
    }
}
@media screen and (min-width: 785px) {
    .button {
        font-size: 0.9rem;
    }
    .button.button--small-font {
        font-size: 0.8rem;
    }
}
@media screen and (min-width: 993px) {
    .navbar.navbar--dark {
        background-color: var(--bg-darker-gray);
    }
    .navbar.navbar--blue {
        background-color: var(--fnt-blue) !important;
    }
    .navbar.navbar--blue .nav-link {
        color: var(--bg-white);
    }
    .navbar.navbar--blue .nav-link.active {
        color: var(--fnt-dark-blue);
    }
    .navbar-navigation-icon {
        display: none;
    }
    .navbar .container {
        display: block;
    }
    .sidenav {
        display: none;
    }
    .resume-content .resume-content__buttons {
        margin-bottom: 0;
        justify-content: flex-start;
    }
}
@media screen and (min-width: 1000px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .ventajas-principales {
        margin-bottom: 8rem;
    }
    .ventajas-secundarias {
        padding-top: 9rem;
    }
    .ventajas-secundarias .resume-content {
        margin-top: 1rem;
    }
    .ventajas-secundarias .resume-content__image {
        max-width: 125px;
    }
    .ventajas-secundarias .tabla-ventajas .img-alpha {
        max-width: 50px;
    }
    .ventajas-secundarias .tabla-ventajas .img-otros {
        max-width: 40px;
    }
    .resumen-content__section-name {
        color: var(--fnt-blue);
        font-size: 2.2rem;
        line-height: 3rem;
        font-weight: bold;
        letter-spacing: 1px;
    }
}
@media screen and (min-width: 1200px) {
    .grid--1x2 {
        grid-template-columns: 45% 55%;
    }
}
@media screen and (max-width: 1215px) {
    .navbar {
        font-size: 0.9rem;
    }
}

.awn-toast.awn-toast-info .awn-toast-wrapper {
    border-color: #3b96cf;
}

.awn-toast.awn-toast-info b {
    color: var(--bg-darker-gray);
}

.awn-toast.awn-toast-info {
    background: #3b96cf;
    color: var(--bg-darker-gray);
}

.awn-toast.awn-toast-info .awn-toast-progress-bar:after {
    background: #1c76a6;
    /* background: white; */
}
