:root {
    --bg-white: #ffffff;
    --bg-dark-gray: #3e3e3e;
    --bg-dark-gray-hover: #646464;
    --bg-scrollbar: #d7d7d7;
    --bg-light-gray: #f2f2f2;
    --bg-light-white: #f9f9f9;
    --bg-darker-gray: #e3e3e3;
    --bg-row-light-gray: #ececec;
    --bg-row-dark-gray: #dfdfdf;
    --bg-button-gray: #c2c2c2;
    --fnt-dark-gray: #3e3e3e;
    --fnt-blue: #76bae5;
    --fnt-light-blue: #76bae7;
    --fnt-light-blue-hover: #82c5ff;
}

body {
    font-family: 'Montserrat', sans-serif;
}

// Helpers
img {
    max-width: 100%;
    display: block;
}

.bg-darker-gray {
    background: var(--bg-darker-gray);
}

.resume-table {
    & ::-webkit-scrollbar {
        height: 13px;
        width: 15px;
    }
    & ::-webkit-scrollbar-track {
        background-color: var(--bg-scrollbar);
    }

    & ::-webkit-scrollbar-thumb {
        background-color: var(--bg-light-white);
        border: 3px solid var(--bg-scrollbar);
        height: 24px;
    }

    & ::-webkit-scrollbar-button:single-button {
        background-color: var(--bg-scrollbar);

        display: block;
        background-size: 10px;
        background-repeat: no-repeat;
    }

    /* Up */
    & ::-webkit-scrollbar-button:single-button:vertical:decrement {
        height: 12px;
        width: 16px;
        background-position: center 4px;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='50,00 0,50 100,50'/></svg>");
    }

    & ::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='50,00 0,50 100,50'/></svg>");
    }

    & ::-webkit-scrollbar-button:single-button:vertical:decrement:active {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>");
    }

    /* Down */
    & ::-webkit-scrollbar-button:single-button:vertical:increment {
        height: 12px;
        width: 16px;
        background-position: center 2px;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 100,0 50,50'/></svg>");
    }

    & ::-webkit-scrollbar-button:single-button:vertical:increment:hover {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 100,0 50,50'/></svg>");
    }

    & ::-webkit-scrollbar-button:single-button:vertical:increment:active {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 100,0 50,50'/></svg>");
    }

    /* Left */
    & ::-webkit-scrollbar-button:single-button:horizontal:decrement {
        height: 12px;
        width: 12px;
        background-position: 3px 3px;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,50 50,100 50,0'/></svg>");
    }

    & ::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,50 50,100 50,0'/></svg>");
    }

    & ::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,50 50,100 50,0'/></svg>");
    }

    /* Right */
    & ::-webkit-scrollbar-button:single-button:horizontal:increment {
        height: 12px;
        width: 12px;
        background-position: 3px 3px;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 0,100 50,50'/></svg>");
    }

    & ::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 0,100 50,50'/></svg>");
    }

    & ::-webkit-scrollbar-button:single-button:horizontal:increment:active {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 0,100 50,50'/></svg>");
    }
}

// Grid
.grid {
    display: grid;
}

// Buttons
.button {
    padding: 6px 43px;
    border-radius: 25px;
    border: 0;
    font-size: 0.8rem;

    &.button--blue {
        background-color: var(--fnt-light-blue);
        color: #ffffff;

        &:hover {
            background-color: var(--fnt-light-blue-hover);
        }
    }

    &.button--dark {
        background-color: var(--bg-dark-gray);
        color: #ffffff;

        &:hover {
            background-color: var(--bg-dark-gray-hover);
        }
    }

    &.button-gray {
        background: var(--bg-button-gray);
        color: var(--fnt-dark-gray);
        font-weight: bold;

        &:hover {
            background: var(--bg-light-gray);
        }
    }

    &.button--small-font {
        font-size: 0.7rem !important;
    }
}

// Resume Content
.resume-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .button {
        font-style: italic;
    }

    & .resume-content__buttons {
        display: flex;
        gap: 3rem;
        margin-bottom: 1rem;
        justify-content: center;
    }
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.ventajas-secundarias {
    padding-block: 5rem;

    & .resume-content {
        display: block;
    }

    & .tabla-ventajas {
        background-color: var(--bg-light-white);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

        max-height: 500px;
        display: block;
        overflow-y: auto;

        & thead {
            & th {
                position: sticky;
                top: 0;

                &:nth-child(1n) {
                    background-color: var(--bg-light-white);
                }
            }

            // width: calc( 100% - 1.1em );

            & .head-image {
                display: flex;
                justify-content: center;
                padding-inline: 1rem;
            }
        }

        & .img-alpha {
            max-width: 50px;
        }

        & .img-otros {
            max-width: 40px;
        }

        & .imagen-check {
            max-width: 20px;
        }

        & .header-text {
            font-size: 0.9rem;
        }

        & .table-text {
            font-size: 0.7rem;
        }

        & thead > tr > th:first-of-type,
        & tbody > tr > td:first-of-type {
            padding-left: 40px;
        }

        & tbody > tr:nth-child(2n + 1),
        & thead > tr > th:nth-child(2) {
            background-color: var(--bg-row-light-gray);
        }

        & tbody > tr > td:nth-child(2) {
            background-color: var(--bg-row-dark-gray);
        }

        & td,
        & th {
            padding-block: 15px;
        }
    }

    & .resume-content .resume-content__buttons {
        justify-content: flex-start;
    }

    & .resume-content__header {
        color: var(--fnt-dark-gray);
        font-size: 1.5rem;
        font-style: italic;
        font-weight: bold;

        & .resumen-content__section-name {
            color: var(--fnt-blue);
            font-size: 2.8rem;
            line-height: 3rem;
            font-weight: bold;
            letter-spacing: 1px;
        }
    }
    & .resume-content__image {
        max-width: 155px;
        margin-block: 2rem;
    }
}

// Navbar
.navbar-navigation-icon {
    max-width: 35px;
    max-height: 25px;
    padding: 3px;
    cursor: pointer;
}

.sidenav {
    height: calc(100vh - 40px);
    width: 330px;
    z-index: 11000;
    left: -450px;
    top: 40px;
    position: fixed;
    background-color: var(--bg-dark-gray);
    box-shadow: 15px 0 20px rgb(0 0 0/65%);
    transition: all 0.4s ease-in-out;
    padding: 2rem;

    &.show {
        left: 0;
    }

    & .sidenav-container {
        & .nav-link {
            color: var(--bg-white);
            font-size: 0.8rem;
        }
    }

    & .sidenav__list {
        display: flex;
        flex-direction: column;

        & li {
            height: 60px;
            border-bottom: rgba(255, 255, 255, 0.2) solid 1px;
            display: flex;
            align-items: center;
        }
    }
}

// Ventajas Principales
.ventajas-principales {
    padding-top: 7.5rem;
    margin-bottom: 3rem;

    .resume-content__header {
        color: var(--fnt-dark-gray);
        font-size: 2rem;
        font-weight: bold;

        & .resume-content__header__ventajas {
            margin-bottom: 0.7rem;
        }

        & .otros-div {
            display: flex;
            align-items: center;
            gap: 0.7rem;
        }

        & .resume-content__header__ventajas img {
            max-width: 100px;
        }

        & .resume-content__header__img {
            display: inline-block;
        }
    }

    & .listado-ventajas {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        height: 100%;
    }

    & .listado-ventajas__ventaja {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: var(--bg-light-gray);
        border-radius: 11px;
        padding-inline: 2rem;
        color: var(--fnt-dark-gray);

        & .listado-ventajas__texto {
            font-size: 0.8rem;
            padding-block: 13px;
        }
    }

    & .listado-ventajas__imagen {
        max-width: 40px;
    }
}

// Bootstrap overrides
.navbar {
    background-color: var(--bg-white);
    justify-content: flex-end;

    & .container {
        display: none;
    }

    & .nav-link {
        flex-grow: 1;
        text-align: right;
        padding-inline: 0;

        &.ventajas {
            flex-grow: 2;
            text-align: left;
        }
    }

    & .container-fluid {
        padding-inline: 0;
    }

    & .navbar-nav {
        width: 100%;
        justify-content: space-between;
    }

    & .nav-link {
        color: var(--fnt-dark-gray);

        &:hover {
            font-weight: bold;
        }
    }
}

.navigation {
    & .nav-link.active {
        color: var(--fnt-light-blue);
    }
}

// Media
@media screen and (max-width: 992px) {
    .navbar {
        background-color: var(--bg-dark-gray);
    }

    .navbar-nav {
        display: none;
    }
}

@media screen and (min-width: 785px) {
    .button {
        font-size: 0.9rem;

        &.button--small-font {
            font-size: 0.8rem;
        }
    }
}

@media screen and (min-width: 993px) {
    .navbar-navigation-icon {
        display: none;
    }

    .navbar .container {
        display: block;
    }

    .sidenav {
        display: none;
    }

    .resume-content .resume-content__buttons {
        margin-bottom: 0;
        justify-content: flex-start;
    }
}

@media screen and (min-width: 1000px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .ventajas-principales {
        margin-bottom: 8rem;
    }

    .ventajas-secundarias {
        padding-top: 9rem;

        & .resume-content {
            margin-top: 1rem;
        }
    }
}

@media screen and (min-width: 1200px) {
    .grid--1x2 {
        grid-template-columns: 45% 55%;
    }
}

@media screen and (max-width: 1215px) {
    .navbar {
        font-size: 0.9rem;
    }
}
