:root {
    --bg-white: #ffffff;
    --bg-dark-gray: #3e3e3e;
    --bg-dark-gray-hover: #646464;
    --bg-scrollbar: #d7d7d7;
    --bg-light-gray: #f2f2f2;
    --bg-light-white: #f9f9f9;
    --bg-darker-gray: #e3e3e3;
    --bg-row-light-gray: #ececec;
    --bg-row-dark-gray: #dfdfdf;
    --bg-button-gray: #c2c2c2;
    --fnt-dark-gray: #3e3e3e;
    --fnt-blue: #76bae5;
    --fnt-light-blue: #76bae7;
    --fnt-light-blue-hover: #82c5ff;
    
}


body {
    font-family: 'Montserrat', sans-serif;
}

// Helpers
img {
    max-width: 100%;
    display: block;
}

.bg-darker-gray {
    background: var(--bg-darker-gray);
}



body {        
    scrollbar-color: var(--bg-light-white) var(--bg-scrollbar);
}


// Grid
.grid {
    display: grid;  
}

// Buttons
.button {
    padding: 6px 43px;
    border-radius: 25px;
    border: 0;
    font-size: .8rem;

    &.button--blue {
        background-color: var(--fnt-light-blue);
        color: #ffffff;

        &:hover{
            background-color: var(--fnt-light-blue-hover);
        }
    }

    &.button--dark {
        background-color: var(--bg-dark-gray);
        color: #ffffff;

        &:hover{
            background-color: var(--bg-dark-gray-hover);
        }
    }

    &.button-gray {
        background: var(--bg-button-gray);
        color: var(--fnt-dark-gray);
        font-weight: bold;

        &:hover {
            background: var(--bg-light-gray);
        }
    }

    &.button--small-font {       
        font-size: .7rem !important;
    }
}



// Resume Content
.resume-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .button {
        font-style: italic;        
    }

    & .resume-content__buttons {
        display: flex;
        gap: 3rem;
        margin-bottom: 1rem;
        justify-content: center;
    }

}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.ventajas-secundarias {       
    & .resume-content {
        display: block;
    }

    & .tabla-ventajas {        
        background-color: var(--bg-light-white);        
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;

        & tbody { 
            display:block;
            height:400px;
            overflow:auto;
        }

        & thead, 
        & tbody tr {
            display:table;
            width:100%;
            table-layout:fixed;
        }

        & thead>tr>th:first-of-type, 
        & tbody>tr>td:first-child {
            width: 80%;
        }

        & thead {
            width: calc( 100% - 1.1em );

            & .head-image {
                display: flex;
                justify-content: center;
            }
        }

        & .img-alpha {
            max-width: 50px;
        }

        & .img-otros {
            max-width: 40px;
        }

        & .imagen-check {
            max-width: 20px;
        }

        & .header-text {
            font-size: .9rem;     
                        
        }
        
        &  .table-text {
            font-size: .7rem;            
        }

        & thead>tr>th:first-of-type,
        & tbody>tr>td:first-of-type {
            padding-left: 40px;
        }

        & tbody>tr:nth-child(2n+1),
        & thead>tr>th:nth-child(2){
            background-color: var(--bg-row-light-gray);
        }

        & tbody>tr>td:nth-child(2) {
            background-color: var(--bg-row-dark-gray);
        }


        & td,
        & th {
            // padding-inline: 15px;
            padding-block: 12px;
        }
        
    }


    & .resume-content .resume-content__buttons {
        justify-content: flex-start;
    }

    & .resume-content__header {        
        color: var(--fnt-dark-gray);
        font-size: 1.5rem;
        font-style: italic;
        font-weight: bold;

        & .resumen-content__section-name {
            color: var(--fnt-blue);
            font-size: 2.8rem;
            line-height: 3rem;
            font-weight: bold;
            letter-spacing: 1px;
        }
    }    
    & .resume-content__image { 
        max-width: 155px;
        margin-block: 2rem;
    }
}

// Navbar
.navbar-navigation-icon {
    max-width: 35px;
    max-height: 25px;
    padding: 3px;    
    cursor: pointer;    
}

.sidenav {
    height: calc(100vh - 41px);
    width: 330px;    
    z-index: 11000;
    left: -450px;
    top: 40px;
    position: absolute;    
    background-color: var(--bg-dark-gray);    
    box-shadow: 15px 0 20px rgb(0 0 0/65%);
    transition: all .4s ease-in-out;
    padding: 2rem;

    &.show {
        left: 0;
    }

    & .sidenav-container {
        & .nav-link {            
            color: var(--bg-white);
            font-size: .8rem;              
        }
    }

    & .sidenav__list {
        display: flex;
        flex-direction: column;        

        & li {
            height: 60px;
            border-bottom: rgba(255,255,255,.2) solid 1px;
            display: flex;
            align-items: center;           
        }
    }
}

// Ventajas Principales
.ventajas-principales{
    padding-top: 7.5rem;   
    margin-bottom: 3rem; 

    .resume-content__header {
        color: var(--fnt-dark-gray);
        font-size: 2rem;
        font-weight: bold;

        & .resume-content__header__ventajas {
            margin-bottom: .7rem;
        }

        & .otros-div {
            display: flex;
            align-items: center;
            gap: 0.7rem
        }

        & .resume-content__header__ventajas img {
            max-width: 100px;
        }

        & .resume-content__header__img {
            display: inline-block;
        }
    }    

    & .listado-ventajas {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        height: 100%;        ;        
    }

    & .listado-ventajas__ventaja {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: var(--bg-light-gray);
        border-radius: 11px;
        padding-inline: 2rem;
        color: var(--fnt-dark-gray);

        & .listado-ventajas__texto{
            font-size: .8rem;
            padding-block: 13px;
        }
    }

    & .listado-ventajas__imagen {
        max-width: 40px;
    }
}

// Bootstrap overrides
.navbar {    
    background-color: var(--bg-white);
    justify-content: flex-end;

    & .container {
        display: none;
    }

    & .nav-link {
        flex-grow: 1;
        text-align: right;
        padding-inline: 0;
    
        &.ventajas {
            flex-grow: 2;
            text-align: left;
        }
    }

    & .container-fluid {
        padding-inline: 0;
    }

    & .navbar-nav { 
        width: 100%;
        justify-content: space-between;
    }      

    & .nav-link {
        color: var(--fnt-dark-gray);        

        &:hover {
            font-weight: bold;
        }
    }
}

.navigation {
    & .nav-link.active {
        color: var(--fnt-light-blue);
    }
}

// Media
@media screen and (max-width:992px){
    .navbar {
        background-color: var(--bg-dark-gray);
    }        

    .navbar-nav {
        display: none;
    }
}

@media screen and (min-width:785px){
    .button {
        font-size: .9rem;

        &.button--small-font {
            font-size: .8rem;
        }
    }
}

@media screen and (min-width:993px){
    .navbar-navigation-icon {
        display: none;
    }

    .navbar .container {
        display: block;
    }

    .sidenav {
        display: none;
    }

    .resume-content .resume-content__buttons{
        margin-bottom: 0;
        justify-content: flex-start;        
    }
}

@media screen and (min-width: 1000px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr)
    }

    .ventajas-principales {        
        margin-bottom: 8rem;
    }

    .ventajas-secundarias {    
        padding-block: 8rem;

        & .resume-content {
            margin-top: 3rem;
        }
    }
}

@media screen and (min-width: 1200px) {
    .grid--1x2 {
        grid-template-columns: 45% 55%;
    }
}

@media screen and (max-width:1215px){
    .navbar {
        font-size: .9rem;
    }        
}